<header class="hero">
    <div class="container">
        <div class="hero-text">
        <p class="hero-greetings">Hey, 👋!</p>
        <h1 class="hero-name">I'm <span class="accent">Abraham Tovar</span></h1>
        <p class="hero-typewritter">Software Developer</p>
        </div>

    </div>
</header>