---
const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Geologica:wght,CRSV@100..900,0&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  :root {
  --color-bg: #fafafa;
  --color-text: #1a1a1a;
  --color-accent: #0ea5e9;
  --text-sm: clamp(0.8rem, 1.5vw, 0.9rem);      /* links navbar, texto pequeño */
  --text-base: clamp(1rem, 2vw, 1.2rem);         /* cuerpo, bio */
  --text-md: clamp(1.6rem, 2.5vw, 1.8rem);         /* typewriter */
  --text-lg: clamp(1.8rem, 4vw, 2.6rem);            /* subtítulos, "Hey 👋" */
  --text-xl: clamp(2.4rem, 5vw, 3.4rem);
  --padding-x: clamp(1rem, 3vw, 1.5rem);            
}

  body{
    font-family: Geologica, sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .container {
    max-width: 860px;
    margin: 0 auto;
    padding: 0 var(--padding-x);
  }
</style>

